* {
    font-family: 'Roboto', sans-serif;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
  }

header {
    width: 100%;
    height: 9%;
    min-height: 54.625px;
    max-height: 101.328px;
    margin: 0;
    background-color: #ffc107;
    z-index: 100;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top: 0;
}

.white {
    max-width: 572.844px;
    max-height: 43.891px;
    min-height: 43.891px;
    width: 95%;
    height: 70%;
    background-color: white;
}

.search_bar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input[type=text] {
    border: transparent;
    width: inherit;
    height: inherit;
    border-radius: 2px;
    margin: 0;
    max-height: inherit;
    font-family: 'Roboto', sans-serif;
    padding-left: 13%;
    height: 100%;
    width: 100%;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

input[placeholder="Search a location"] {}

.search_bar_input {
    width: inherit;
    height: inherit;
}

.magnifier {
    width: 25px;
    height: 25px;
    position: absolute;
    position: fixed;
    margin-left: 86%;
    margin-top: 10px;
}

.magnifier_img {
    width: inherit;
    height: inherit;
}

.voice {
    width: 25px;
    height: 25px;
    position: absolute;
    position: fixed;
    margin-left: 9px;
    margin-top: 10px;
}

@media (min-width: 600px) {
    .magnifier {
        margin-left: 528.688px;
    }
}

@media (max-width: 295px) {
    .voice {
        display: none;
    }
    .magnifier {
        display: none;
    }
}

.voice_img {
    width: inherit;
    height: inherit;
}

nav {
    height: 47px;
    width: 100%;
    min-height: 47px;
    background-color: #ffc107;
    display: flex;
    flex-direction: row;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    z-index: 90;
    position: fixed;
    top: 9%;
    left: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
}

@media (min-height: 1119px) {
    nav {
        top: 95.031px;
    }
}

@media (max-height: 515px) {
    nav {
        top: 50.750px;
    }
}

@media (max-width: 321px) {
    .nav_text {
        display: none;
    }
    .nav_symbol {
        width: 35px;
        height: 35px;
        text-align: center;
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 35px;
        color: white;
        /* Preferred icon size */
        display: inline-block;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
        margin: 0;
        padding: 0;
        /* Support for all WebKit browsers. */
        -webkit-font-smoothing: antialiased;
        /* Support for Safari and Chrome. */
        text-rendering: optimizeLegibility;
        /* Support for Firefox. */
        -moz-osx-font-smoothing: grayscale;
        /* Support for IE. */
        font-feature-settings: 'liga';
    }
}

@media (min-width: 321px) {
    .nav_symbol {
        display: none;
    }
}

.in_nav {
    width: 33.33333333333333333333vw;
    max-width: 219.328px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-decoration: none;
}

.nav_text {
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    margin: 0;
    text-transform: uppercase;
    padding: 0;
}

.nav_link {
    height: 100%;
    text-decoration: none;
    padding: 0;
}

#nav_selected_line {
    border-bottom: solid 2px #2196f3;
    box-sizing: border-box;
}

#nav_selected_text {
    color: #2196f3;
}

#map {
    width: 100vw;
    height: 100vh;
    background-color: grey;
}

.fab {
    width: 65px;
    height: 65px;
    z-index: 100;
    position: absolute;
    position: fixed;
    top: 88%;
    left: 80%;
    background-color: #2196f3;
    border-radius: 100%;
    border-top: solid #65b5f5 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

@media (max-height: 568px) {
    .fab {
        top: 84%;
        left: 77%;
    }
}

.add {
    font-family: 'Material Icons';
    color: white;
    font-size: 25pt;
    margin: 0;
    margin-top: 25%;
    z-index: 100;
}

.go {
    color: white;
    font-size: 13pt;
    margin: 0;
    margin-top: 30%;
    z-index: 100;
}

.lower {
    width: 100%;
    height: 1647px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee;
}

#lower_trending {
    flex-direction: column;
    justify-content: flex-start;
}

.in_lower {
    height: inherit;
    width: 97vw;
    padding-left: 2px;
    padding-right: 2px;
    max-width: 399.625px;
}

.show_favourites {
    width: 100%;
    height: 5%;
}

.lista {
    width: 100%;
    height: 100%;
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.list_object {
    background-color: white;
    width: 100%;
    height: 72px;
    margin-top: 2px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.list_number {
    height: 100%;
    width: 13%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.in_number {
    margin: 0;
    margin-top: 26.766px;
    color: #767676;
    font-size: 13px;
}

.list_img {
    height: 50px;
    width: 50px;
    background-size: cover;
    background-position: center;
    border-radius: 2px;
    margin-top: 12.359px;
    margin-right: 15px;
}

.list_txt {
    height: 100%;
    width: 50%;
}

.in_txt {
    margin: 0;
}

#list_city {
    margin-top: 12.359px;
    font-size: 15px;
}

#list_country {
    font-size: 13px;
    color: #555555;
}

#list_time {
    font-size: 13px;
    color: #767676;
}

.top_margin {
    height: 16vh;
    width: inherit;
    max-height: 150.547px;
    min-height: 105.547px;
    background-color: #eeeeee;
}

.ruta {
    height: 47.5vw;
    width: 47.5vw;
    max-width: 195.688px;
    max-height: 195.688px;
    /*background-color: red;*/
    margin: 2px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    float: left;
}

@media (max-width: 393px) {
    .ruta {
        height: 47vw;
        width: 47vw;
    }
}

.black_box {
    width: 100%;
    height: 33%;
    background: rgba(0, 0, 0, 0.5);
}

.ruta_txt {
    color: white;
    margin-top: 5%;
    margin-bottom: 0;
    margin-left: 5%;
    font-size: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#time {
    margin-top: 0;
    margin-bottom: 0;
}

.ruta_symbol {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

#one {
    background-image: url("../img/Goteborg.jpg");
}

#two {
    background-image: url("../img/Tokyo.jpg");
}

#three {
    background-image: url("../img/Venedig.jpg");
}

#four {
    background-image: url("../img/NewYork.jpg");
}

#five {
    background-image: url("../img/Amsterdam.jpg");
}

#six {
    background-image: url("../img/Prag.jpg");
}

#seven {
    background-image: url("../img/Krakow.jpg");
}

#eight {
    background-image: url("../img/Berlin.jpg");
}

#nine {
    background-image: url("../img/Dresden.jpg");
}

#ten {
    background-image: url("../img/Riverwood.jpg");
}

#eleven {
    background-image: url("../img/Columbia.jpg");
}

#twelve {
    background-image: url("../img/City17.jpg");
}

#thirteen {
    background-image: url("../img/Paris.jpg");
}

#fourteen {
    background-image: url("../img/Hanamura.jpg");
}

#fifteen {
    background-image: url("../img/Rio-de-janeiro.jpg");
}

#sixteen {
    background-image: url("../img/PalletTown.jpg");
}

#seventeen {
    background-image: url("../img/Glasgow.jpg");
}

#eighteen {
    background-image: url("../img/Auckland.jpg");
}

#list_img_one {
    background-image: url("../img/Rome.jpg");
}

#list_img_two {
    background-image: url("../img/Paris.jpg");
}

#list_img_three {
    background-image: url("../img/Barcelona.jpg");
}

#list_img_four {
    background-image: url("../img/London.jpg");
}

#list_img_five {
    background-image: url("../img/Berlin.jpg");
}

#list_img_six {
    background-image: url("../img/Edinburgh.jpg");
}

#list_img_seven {
    background-image: url("../img/Florence.jpg");
}

#list_img_eight {
    background-image: url("../img/Mexico.jpg");
}

#list_img_nine {
    background-image: url("../img/Vancouver.jpg");
}

#list_img_ten {
    background-image: url("../img/Salzburg.jpg");
}

#list_img_eleven {
    background-image: url("../img/Sydney.jpg");
}

#list_img_twelve {
    background-image: url("../img/Nuremberg.jpg");
}

#list_img_thirteen {
    background-image: url("../img/Stockholm.jpg");
}

#list_img_fourteen {
    background-image: url("../img/Budapest.jpg");
}

#list_img_fifteen {
    background-image: url("../img/HongKong.jpg");
}

#list_img_sixteen {
    background-image: url("../img/Istanbul.jpg");
}

#list_img_seventeen {
    background-image: url("../img/Goteborg.jpg");
}

#list_img_eighteen {
    background-image: url("../img/Madrid.jpg");
}

#list_img_nineteen {
    background-image: url("../img/Copenhagen.jpg");
}

#list_img_twenty {
    background-image: url("../img/Jerusalem.jpg");
}

#list_img_twentyone {
    background-image: url("../img/Zurich.jpg");
}
