<nav>
    <a href="./index.html" class="nav_link">
        <div class="in_nav" id="nav_selected_line">
            <i class="nav_symbol" id="nav_selected_text">star_rate</i>
            <p class="nav_text" id="nav_selected_text">favourites</p>
        </div>
    </a>

    <a href="./trending.html" class="nav_link">
        <div class="in_nav">
            <i class="nav_symbol">trending_up</i>
            <p class="nav_text">TRENDING</p>
        </div>
    </a>

    <a href="./map.html" class="nav_link">
        <div class="in_nav">
            <i class="nav_symbol">map</i>
            <p class="nav_text">MAP</p>
        </div>
    </a>
</nav>

<div class="fab">
    <p class="add">add</p>
</div>

<div class="top_margin"></div>

<div class="lower">
  <div class="in_lower">
    <div class="ruta" id="one"></div>
    <div class="ruta" id="two"></div>
    <div class="ruta" id="three"></div>
    <div class="ruta" id="four"></div>
    <div class="ruta" id="five"></div>
    <div class="ruta" id="six"></div>
    <div class="ruta" id="seven"></div>
    <div class="ruta" id="eight"></div>
    <div class="ruta" id="nine"></div>
    <div class="ruta" id="ten"></div>
    <div class="ruta" id="eleven"></div>
    <div class="ruta" id="twelve"></div>
    <div class="ruta" id="thirteen"></div>
    <div class="ruta" id="fourteen"></div>
    <div class="ruta" id="fifteen"></div>
    <div class="ruta" id="sixteen"></div>
    <div class="ruta" id="seventeen"></div>
    <div class="ruta" id="eighteen"></div>
  <div>
</div>
