<nav>
    <a href="./index.html" class="nav_link">
        <div class="in_nav" id="nav_selected_line">
            <img class="nav_symbol" src="./img/star.svg">
            <p class="nav_text" id="nav_selected_text">favourites</p>
        </div>
    </a>

    <a href="./trending.html" class="nav_link">
        <div class="in_nav">
            <img class="nav_symbol" src="./img/trending.svg">
            <p class="nav_text">TRENDING</p>
        </div>
    </a>

    <a href="./map.html" class="nav_link">
        <div class="in_nav">
            <img class="nav_symbol" src="./img/map.svg">
            <p class="nav_text">MAP</p>
        </div>
    </a>
</nav>
