<nav>
    <a href="./index.html" class="nav_link">
        <div class="in_nav" id="nav_selected_line">
            <i class="nav_symbol" id="nav_selected_text">star_rate</i>
            <p class="nav_text" id="nav_selected_text">favourites</p>
        </div>
    </a>

    <a href="./trending.html" class="nav_link">
        <div class="in_nav">
            <i class="nav_symbol">trending_up</i>
            <p class="nav_text">TRENDING</p>
        </div>
    </a>

    <a href="./map.html" class="nav_link">
        <div class="in_nav">
            <i class="nav_symbol">map</i>
            <p class="nav_text">MAP</p>
        </div>
    </a>
</nav>

<div class="fab">
    <p class="add">add</p>
</div>

<div class="top_margin"></div>

<div class="lower">
    <div class="in_lower">
        <div class="ruta" id="one">
            <div class="black_box">
                <p class="ruta_txt">Gothenburg
                    <i class="ruta_symbol">star_rate</i>
                </p>
                <p class="ruta_txt" id="time">00:00</p>
            </div>
        </div>

        <div class="ruta" id="two">
            <div class="black_box">
                <p class="ruta_txt">Tokyo
                    <i class="ruta_symbol">
                        star_rate</i>
                </p>
                <p class="ruta_txt" id="time">00:00</p>
            </div>
        </div>

        <div class="ruta" id="three">
            <div class="black_box">
                <p class="ruta_txt">Venice
                    <i class="ruta_symbol">
                        star_rate</i>
                </p>
                <p class="ruta_txt" id="time">00:00</p>
            </div>
        </div>

        <div class="ruta" id="four">
            <div class="black_box">
                <p class="ruta_txt">NewYork
                    <i class="ruta_symbol">
                        star_rate</i>
                </p>
                <p class="ruta_txt" id="time">00:00</p>
            </div>
        </div>

        <div class="ruta" id="five">
            <div class="black_box">
                <p class="ruta_txt">Amsterdam
                    <i class="ruta_symbol">
                        star_rate</i>
                </p>
                <p class="ruta_txt" id="time">00:00</p>
            </div>
        </div>

        <div class="ruta" id="six">
            <div class="black_box">
                <p class="ruta_txt">Prague
                    <i class="ruta_symbol">
                        star_rate</i>
                </p>
                <p class="ruta_txt" id="time">00:00</p>
            </div>
        </div>

        <div class="ruta" id="seven">
            <div class="black_box">
                <p class="ruta_txt">Kraków
                    <i class="ruta_symbol">
                        star_rate</i>
                </p>
                <p class="ruta_txt" id="time">00:00</p>
            </div>
        </div>

        <div class="ruta" id="eight">
            <div class="black_box">
                <p class="ruta_txt">Berlin
                    <i class="ruta_symbol">
                        star_rate</i>
                </p>
                <p class="ruta_txt" id="time">00:00</p>
            </div>
        </div>

        <div class="ruta" id="nine">
            <div class="black_box">
                <p class="ruta_txt">Dresden
                    <i class="ruta_symbol">
                        star_rate</i>
                </p>
                <p class="ruta_txt" id="time">00:00</p>
            </div>
        </div>

        <div class="ruta" id="ten">
            <div class="black_box">
                <p class="ruta_txt">Riverwood
                    <i class="ruta_symbol">
                        star_rate</i>
                </p>
                <p class="ruta_txt" id="time">00:00</p>
            </div>
        </div>

        <div class="ruta" id="eleven">
            <div class="black_box">
                <p class="ruta_txt">Columbia
                    <i class="ruta_symbol">
                        star_rate</i>
                </p>
                <p class="ruta_txt" id="time">00:00</p>
            </div>
        </div>

        <div class="ruta" id="twelve">
            <div class="black_box">
                <p class="ruta_txt">City17
                    <i class="ruta_symbol">
                        star_rate</i>
                </p>
                <p class="ruta_txt" id="time">00:00</p>
            </div>
        </div>

        <div class="ruta" id="thirteen">
            <div class="black_box">
                <p class="ruta_txt">Paris
                    <i class="ruta_symbol">
                        star_rate</i>
                </p>
                <p class="ruta_txt" id="time">00:00</p>
            </div>
        </div>

        <div class="ruta" id="fourteen">
            <div class="black_box">
                <p class="ruta_txt">Hanamura
                    <i class="ruta_symbol">
                        star_rate</i>
                </p>
                <p class="ruta_txt" id="time">00:00</p>
            </div>
        </div>

        <div class="ruta" id="fifteen">
            <div class="black_box">
                <p class="ruta_txt">Rio de Janeiro
                    <i class="ruta_symbol">
                        star_rate</i>
                </p>
                <p class="ruta_txt" id="time">00:00</p>
            </div>
        </div>

        <div class="ruta" id="sixteen">
            <div class="black_box">
                <p class="ruta_txt">Pallet Town
                    <i class="ruta_symbol">
                        star_rate</i>
                </p>
                <p class="ruta_txt" id="time">00:00</p>
            </div>
        </div>

        <div class="ruta" id="seventeen">
            <div class="black_box">
                <p class="ruta_txt">Glasgow
                    <i class="ruta_symbol">
                        star_rate</i>
                </p>
                <p class="ruta_txt" id="time">00:00</p>
            </div>
        </div>

        <div class="ruta" id="eighteen">
            <div class="black_box">
                <p class="ruta_txt">Auckland
                    <i class="ruta_symbol">
                        star_rate</i>
                </p>
                <p class="ruta_txt" id="time">00:00</p>
            </div>
        </div>

    </div>
</div>
