<nav>
    <a href="./index.html" class="nav_link">
        <div class="in_nav">
            <i class="nav_symbol">star_rate</i>
            <p class="nav_text">favourites</p>
        </div>
    </a>

    <a href="./trending.html" class="nav_link">
        <div class="in_nav" id="nav_selected_line">
            <i class="nav_symbol" id="nav_selected_text">trending_up</i>
            <p class="nav_text" id="nav_selected_text">TRENDING</p>
        </div>
    </a>

    <a href="./map.html" class="nav_link">
        <div class="in_nav">
            <i class="nav_symbol">map</i>
            <p class="nav_text">MAP</p>
        </div>
    </a>
</nav>
